@import '../../scss/variables';

.header {
  width: 100%;
  background-color: $color-brand;
  padding: 20px;
  color: white;
}

.main {
  padding-top: 30px;
  width: 100%;
}

.record-label {
  display: inline-block;
  width: 80px;
}