@import 'scss/variables.scss';
@import 'scss/helpers.scss';

view,
scroll-view,
swiper,
swiper-item,
movable-area,
movable-view,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox-group,
checkbox,
form,
input,
label,
picker,
picker-view,
radio-group,
radio,
slider,
switch,
textarea,
navigator,
functional-page-navigator,
image,
video,
camera,
live-player,
live-pusher,
map,
canvas,
open-data,
web-view,
ad {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .header {
    width: 100%;
    background-color: $color-brand;
    padding: 20px;
    color: white;
  }
  .main {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}

@import 'scss/typo';    // 排版/字体相关
@import 'scss/font-cn'; // 首页中文字体
@import 'scss/icons';   // 图标
@import 'scss/input';   // 输入框
@import 'scss/loading'; // loading效果
@import 'scss/cell'; 
@import 'scss/btn';     // 按钮样式

