@import 'scss/variables.scss';
@import 'scss/helpers.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

.btn {
  width: 100%;
  color: #333;
  border-radius: 0;
  font-size: 32rpx;
}

@import 'scss/typo';
@import 'scss/font-number';
@import 'scss/icons';
@import 'scss/input';
@import 'scss/loading';
@import 'scss/cell';