@import './variables';

.page-login {
  padding: 0 40rpx;
  .header {
    margin-top: 100rpx;
    position: relative;

    .title {
      margin-bottom: 70rpx;
      text-align: center;
      color: #000;
      font-size: 46rpx;
    }

    .sub {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 30rpx;
      color: $color-brand;
      line-height: 64rpx;
    }
  }

  .footer {
    margin: 80rpx auto;
    font-size: 30rpx;
  }
}
