@import './variables';

.text-lg {
  font-size: 48rpx;
}
.text-sm {
  font-size: 30rpx;
}
.text-xs {
  font-size: 12px;
}
.text-white {
  color: white !important;
}
.color-brand {
  color: $color-brand !important;
}

.border {
  display: inline-block;
  border: 1px solid white;
  padding: 2px 8px;
  border-radius: 4px;
}